<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
	integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
	crossorigin="anonymous">
<head>
<meta charset="utf-8">
<title>Categorias</title>
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-expand-md bg-dark navbar-dark">
			<a class="navbar-brand" href=#>Categorias</a>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-iem"><a class="nav-link"
						th:href="@{/categoria}">Productos</a></li>
						<li class="nav-iem"><a class="nav-link"
						th:href="@{/categoria}">Facturas</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		<div class="row">
			<div class="container">
				<h1>CATEGORÍAS</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/categoria/nuevo}" class="btn btn-primary btn-sm mb3">AGREGAR
					CLASIFICACION</a>
			</div>
		</div>
		<br>
		<table class="table table-striped table bordered">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">CATEGORIA</th>
					<th scope="col">DESCRIPCION</th>
					<th scope="col">ACCIONES</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categorias : ${categoria}">
					<td th:text="${categorias.id}">ID</td>
					<td th:text="${categorias.categoria}">CATEGORIA</td>
					<td th:text="${categorias.descripcion}">DESCRIPCION</td>
					
					<td><a th:href="@{/categoria/editar/{id}(id=${categorias.id})}"class="btn btn-primary">Editar</a>
					<a th:href="@{/categoria/{id}(id=${categorias.id})}"class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>